.category__nav ul {
  display: flex;
  list-style-type: none; /* This removes the bullet points from the list */
  padding: 0; /* This removes default padding from the list */
  margin: 0; /* This removes default margin from the list */
  justify-content: center;
}

.category__nav li {
  padding: 0.5rem 1rem; /* You can adjust this to your needs */
  border-right: 1px solid #000; /* Adjust the color as needed */
  cursor: pointer;
}

/* Remove the border from the last child */
.category__nav li:last-child {
  border-right: none;
}

.category__nav li {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.category__nav li:hover {
  background-color: #407c87;
  color: #f0efef;
}

.category__nav .active {
  font-weight: bold;
  background-color: #0f4953;
  color: whitesmoke;
}

/* .category__nav {
  margin-top: 6rem;
} */
