.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  width: 100%; /* Ensures the border-bottom takes full width */
}

.form__group {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  text-align: center;
  gap: 0.7rem; /* Adds spacing between each flex child */
  align-items: flex-start; /* Aligns label and input to the left */
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #407c87, #a5dbdd);
  width: 70%;
  border-radius: 2rem;
  padding: 2rem;
  border: 2px solid #55706a;
  box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px;
}

.container h3 {
  width: 100%; /* Ensures the border-bottom takes full width */
  border-bottom: #ccc 1px solid;
}

.form__group h3:last-of-type {
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
}

.form__group div {
  min-height: 2rem;
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
